﻿@{
    ViewData["Title"] = "ANIMAISBFGKLM";
}

<div class="text-center">
    <h1 class="display-4"><strong>Seja bem-vindo a Aplicação WEB AnimaisBFGKLM!</strong></h1>
    <br>
    <p><strong>Alunos:</strong></p>
    <p>Bárbara Miranda (2022101392)</p>
    <p>Filipe Gomes (2022101330)</p>
    <p>Guilherme Cunha (2022101380)</p>
    <p>Kaick de Souza (2022101596)</p>
    <p>Luan de Paiva (2022101865)</p>
    <p>Manuela Campos (2022101362)</p>
    <br>
    <p><strong>Orientador:</strong> Rosenclever Lopes Gazoni</p>
    <a href="Home/Privacy">Consultar links relacionados ao projeto</a>
</div>