﻿@{
    ViewData["Title"] = "Links relacionados ao Projeto";
}
<h1>@ViewData["Title"]</h1>

<a href="/Animal">Lista de Animais</a>
<br>
<a href="/Animal/Create">Cadastre um Animal</a>
<br>
<br>
<p><strong>Link para o Drive contendo um vídeo demonstrativo do código e a documentação:</strong><a href="https://localhost:7157/"></a></p>
<p><strong>Link do Youtube (vídeo explicativo):</strong><a href="https://localhost:7157/"></a></p>